@CHARSET "UTF-8";
.logWarning {
    color: dbc10d\9;
}
.logError {
    color: #f8696b\9;
}
.logWarning:not(.jqx-grid-cell-hover):not(.jqx-grid-cell-selected), .jqx-widget .avg:not(.jqx-grid-cell-hover):not(.jqx-grid-cell-selected) {
    color: #dbc10d;
}
.logError:not(.jqx-grid-cell-hover):not(.jqx-grid-cell-selected), .jqx-widget .min:not(.jqx-grid-cell-hover):not(.jqx-grid-cell-selected) {
    color: #f8696b;
}